In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

In [9]:
df=pd.read_csv("feature_data.csv", low_memory=False)

In [10]:
df.isnull().sum()

source            0
service           0
adnet             0
browser           0
country           0
profile_status    0
publisher         0
cycle             0
dtype: int64

In [12]:
# Specify the list of categorical columns to be binary encoded
categorical_columns = ['service', 'source', 'country', 'adnet', 'browser', 'profile_status', 'publisher']

# Initialize the binary encoder
encoder = ce.BinaryEncoder(cols=categorical_columns)

# Perform binary encoding on the selected columns
df_encoded = encoder.fit_transform(df)

In [13]:
df_encoded

,source_0,source_1,source_2,source_3,source_4,service_0,service_1,service_2,service_3,adnet_0,...,publisher_2,publisher_3,publisher_4,publisher_5,publisher_6,publisher_7,publisher_8,publisher_9,publisher_10,cycle
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,daily
1,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,daily
2,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,daily
4,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,daily
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308906,0,0,1,1,0,1,0,1,1,1,...,0,1,0,1,1,0,1,1,0,daily
308907,0,0,1,1,0,1,0,1,1,1,...,0,1,0,1,1,0,1,1,0,daily
308908,0,0,1,1,0,1,0,1,1,1,...,0,1,0,1,1,0,1,1,0,daily
308909,0,0,1,1,0,1,0,1,1,1,...,0,1,0,1,1,0,1,1,0,daily
308910,0,0,1,1,0,1,0,1,1,1,...,0,1,0,1,1,0,1,1,0,daily